*{
    box-sizing: border-box;
    margin: 0;
}

.Window1{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Register{
    height: 50vh;
    width: 30%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Head{
    padding-bottom: 15px;
    font-size: 28px;
}

.Form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Size_block{
    margin: 15px 0;
    padding: 15px 50px;
    font-size: 18px;
    text-align: center;
}
