@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@600;700&family=Roboto:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

.Content {
  max-width: 1440px;
}

.Window1 {
  height: 165vh;
}

.Header-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}

.Header-logo {
  padding-left: 80px;
}

.Burger {
  padding-right: 30px;
}

.Header-main {
  height: 80vh;
  background: url(../images/Background_food.png) center no-repeat;
  background-size: cover;
}

.Header-all-line {
  color: white;
}

.Header-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header-first-line {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 20px;
}

.Header-second-line {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Header-third-line {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-bottom: 80px;
  font-size: 30px;
}

.Header-link {
  display: flex;
  padding-top: 10px;
  padding-bottom: 50px;
}

.Header-all-link {
  text-decoration: none;
  padding: 20px 60px;
  border-radius: 500px;
  color: white;
  font-size: 17px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.Header-first-link {
  margin-right: 20px;
  background-color: orangered;
}

.Header-second-link {
  margin-left: 20px;
  border: 1px solid white;
}

.Two-phones {
  margin: -170px 0px 0px 400px;
}

.Window2 {
  height: 80vh;
}

.hr {
  max-width: 50%;
  margin: 0 auto;
  height: 2px;
  background-color: #e4e4e4;
  border: none;
  border-radius: 5%;
}

.Main-head {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  padding-top: 40px;
}

.Main-content-1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.Phone {
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
}

.Main-text-1 {
  display: flex;
  flex-direction: column;
  margin-left: 160px;
  max-width: 33%;
}

.Main-first-link {
  text-decoration: none;
  color: orangered;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
}

.Main-second-line {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 27px;
  padding-bottom: 25px;
}

.Main-third-line {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: grey;
}

.Window3 {
  height: 80vh;
}

.Main-content-2 {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.Main-text-2 {
  display: flex;
  flex-direction: column;
  margin-right: 160px;
  max-width: 33%;
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; 
*/
